*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* modifiche nav bar */

.navbar-nav li a{
    color: white !important;
}
.pointer {
    cursor: pointer;
}

/* main part */

.no-wrap {
    white-space: nowrap;
  }
body {
    background-color: black;
    overflow-x: hidden;
}
.buttonNav {
    border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons span {
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 85px;
}
h5 {
    animation: opacity 5s;
}
.imgNav {
    width: 45px;
    height: 40px;
}
.navbar-nav li a {
    color: white;
    font-size: 15px;
    margin: auto;
  }

.imageSize {
    width: 100% !important;
    
}
.row-gutter {
    --bs-gutter-x: 0.5rem;
  }
.icone {
    color: white;
    width: 150px;
}

/* FOOTER */

footer {
    margin: auto;
    width: 50%;
}
ul {
    list-style: none;
}
ul li {
    color: gray;
}
.fab {
    color: grey;
    width: 15px;
} 
.foot-list {
    font-size: 15px;
    color: grey;
}
.service {
    border: 1px solid lightgrey;;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;

}
.date {
    font-size: 10px;
}


/* transazioni e animazioni delle immagini. */
.row img {
    transition: 0.3s;
    animation: opacity 5s;
}
.row img:hover {
    transform: scale(1.15);
    z-index: 2;
  }



/* keyframes che permette di far apparire le immagini con un leggero ritardo attraverso il cambio di stato di opacità */
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }   
}
/* //mediaquery per mantenere un margine top in sm-xs-md  */
@media (max-width: 992px) {
    .imageSize-mt {
      margin-top: 15px;
    }
  }




  